name: CMake build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2

      - name: Install Dependencies
        shell: bash
        run: |
          sudo apt install clang
          sudo apt install ninja-build

      - name: Download Clang-22
        shell: bash
        run: |
          ARCHIVE_URL="https://github.com/Silverlan/clang_prebuilt/releases/download/2025-11-16/linux_x64.tar.xz"

          DEST_DIR="clang"
          mkdir -p "$DEST_DIR"

          curl -L -o /tmp/archive.tar.xz "$ARCHIVE_URL"
          tar -xJf /tmp/archive.tar.xz -C "$DEST_DIR" --strip-components=1

      - name: Download and extract gcc-15
        shell: bash
        run: |
          ARCHIVE_URL="https://github.com/Silverlan/test_gcc15/releases/download/2025-11-17/gcc-15.2.0.tar.xz"

          DEST_DIR="gcc-15"
          mkdir -p "$DEST_DIR"
          curl -L -o /tmp/archive.tar.xz "$ARCHIVE_URL"
          tar -xJf /tmp/archive.tar.xz -C "$DEST_DIR" --strip-components=1

      - name: Configure and build with CMake
        shell: bash
        run: |
          curDir="$PWD"
          mkdir -p build
          export CC="$PWD/clang/bin/clang"
          export CXX="$PWD/clang/bin/clang++"
          cmake -S . -B build -G "Ninja Multi-Config" -DCMAKE_CXX_SCAN_FOR_MODULES=ON -DCMAKE_CXX_STDLIB_MODULES_JSON="$curDir/gcc-15/lib64/libstdc++.modules.json"
          cmake --build build --target math
